<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dir37CAC0F60EC2D213C364CAD002E72CBC" Name="DefaultDataFolder" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DefaultDataFolderGroup">
            <Component Id="cmp3F02C9574188FD983A06E3EF4305A1A1" Directory="dir37CAC0F60EC2D213C364CAD002E72CBC" Guid="{58CB527A-EFBA-4F2B-BB73-2C280BE99DBB}">
                <File Id="fil70FE725530976CE69F71CCC62D4C5D6F" KeyPath="yes" Source="SourceDir\property.xml" />
            </Component>
            <Component Id="cmpD311DD79F7C6B912945F4D3E4A0B9401" Directory="dirA0512BF40688D5B5D81698921B74AFB6" Guid="{C80D1CA9-FEBB-4C9D-9649-74DF64BB395D}">
                <File Id="filEA4E40021EF933B05BC683FA654A3FBF" KeyPath="yes" Source="SourceDir\CaptureFolder\MyScreenCaptures\MyScreenCaptures" />
            </Component>
            <Component Id="cmp68DCDC39FB620DA580E0230932B4782B" Directory="dirB9EB20C10103BE82D7E1DB8776D29E76" Guid="{B1E12FF9-88C0-4A87-A943-5EADB940A32B}">
                <File Id="fil030BAFB3570647075096490FEBFE6CCC" KeyPath="yes" Source="SourceDir\ComposerFolder\BehavePlus.123" />
            </Component>
            <Component Id="cmp064C84405C0A8DBBEC666EE41337CD74" Directory="dirB9EB20C10103BE82D7E1DB8776D29E76" Guid="{4EBC70F5-D39F-41EB-B9C7-AA3DB0A41C81}">
                <File Id="fil27C3E562CBB25DBF4851012440942F3B" KeyPath="yes" Source="SourceDir\ComposerFolder\BehavePlus.html" />
            </Component>
            <Component Id="cmpCA0DFF267DE8BF607C3B8D5744B21725" Directory="dirB9EB20C10103BE82D7E1DB8776D29E76" Guid="{3473CD0F-E49F-4202-AE19-C911E4BA3771}">
                <File Id="filF55B87B7D7DA7110A6C91C6C7674E49F" KeyPath="yes" Source="SourceDir\ComposerFolder\ComposerFolder" />
            </Component>
            <Component Id="cmp2E496D8ABD225EA96386BC4B50AB6285" Directory="dirB9EB20C10103BE82D7E1DB8776D29E76" Guid="{E5E78D38-72B3-485D-87AE-6030FDF1FF45}">
                <File Id="filF39E596949C043EF6CCD1D719954F2CD" KeyPath="yes" Source="SourceDir\ComposerFolder\log1_1.tmp" />
            </Component>
            <Component Id="cmpEF0A7867A218A6E4EFC6D7A2669D0E6E" Directory="dirB9EB20C10103BE82D7E1DB8776D29E76" Guid="{7846FDE1-58FD-4A41-A116-219DBDC164E5}">
                <File Id="fil49DFFE8BB6205CBE2E3516DE83E014B4" KeyPath="yes" Source="SourceDir\ComposerFolder\log1_2.tmp" />
            </Component>
            <Component Id="cmp8971334ECB80E46C42DC88419C2B9055" Directory="dirB9EB20C10103BE82D7E1DB8776D29E76" Guid="{E219482D-938A-4433-8797-5BD30BD247BF}">
                <File Id="fil15C87D3A26B8D7A2B36C44519044C0D0" KeyPath="yes" Source="SourceDir\ComposerFolder\log2_1.tmp" />
            </Component>
            <Component Id="cmp196A86D960D270CC25BD712D7E77E075" Directory="dir3CEC7CA3B9ED9725FD09014C613A9A7A" Guid="{C3182577-D68D-4DC6-B353-F47EBC5E4F8C}">
                <File Id="fil8AB4B407405CBB6DE05203B1853FBD2F" KeyPath="yes" Source="SourceDir\ExportFolder\ExportFolder" />
            </Component>
            <Component Id="cmp74BA2CC4779D7C80D57BA0EDF3E428B1" Directory="dir27AE42B1E4CE9C2181A703E053AD6967" Guid="{A48BF46F-FBCA-4E7F-B86D-AB0991248D96}">
                <File Id="fil7E16F54CBADA77E314A183C792AFBD4F" KeyPath="yes" Source="SourceDir\ExportFolder\MyExports\junk.html" />
            </Component>
            <Component Id="cmpFA00F671D8CEEBA4AB403019CE4BAE39" Directory="dir27AE42B1E4CE9C2181A703E053AD6967" Guid="{0AF1FE3E-9377-4EDE-9E67-7201D81EFBD8}">
                <File Id="filDDB2302290A2B78DAE2F044E4CC661A4" KeyPath="yes" Source="SourceDir\ExportFolder\MyExports\MyExports" />
            </Component>
            <Component Id="cmp5BBD47A0138B7BDDCE335D85F80F8C72" Directory="dir27AE42B1E4CE9C2181A703E053AD6967" Guid="{57D0FF8A-F6BB-4CE4-864C-E86BB33C9678}">
                <File Id="fil087E398E16C7202379B3A1FFEC28CB4C" KeyPath="yes" Source="SourceDir\ExportFolder\MyExports\test1.html" />
            </Component>
            <Component Id="cmp2EA83ED54541CB22F7FBB5F49D06F942" Directory="dir1E861675C774B5D66914E814F4CD1C79" Guid="{74956A25-44B0-4E55-B619-F35C19B489C8}">
                <File Id="filEF86FB87C48D394519B0349D68D76ABC" KeyPath="yes" Source="SourceDir\ExportFolder\MyExports\.svn\empty-file" />
            </Component>
            <Component Id="cmp1C9C1476EB335F3EE8ABAEE0E7EE8DF0" Directory="dir1E861675C774B5D66914E814F4CD1C79" Guid="{B65BD8E4-B0B7-418F-A098-3DA76E7A2092}">
                <File Id="fil9450419336A5FB37C0CEB8C22296A65E" KeyPath="yes" Source="SourceDir\ExportFolder\MyExports\.svn\entries" />
            </Component>
            <Component Id="cmp2AD168098CABD762A06A56BACC55CF6D" Directory="dir1E861675C774B5D66914E814F4CD1C79" Guid="{14C8F62B-B05C-4041-ABF5-0A833BF74C94}">
                <File Id="fil3C909EB92112B9E6748B94C68F03CE71" KeyPath="yes" Source="SourceDir\ExportFolder\MyExports\.svn\format" />
            </Component>
            <Component Id="cmpBFE5263A4C3EE785B38E2A6DB4CA9214" Directory="dir1E861675C774B5D66914E814F4CD1C79" Guid="{31F81AB5-C096-495F-8DC5-DEE90C9DBF14}">
                <File Id="fil176CCA50114EB29445FFA4DC7CE2BD15" KeyPath="yes" Source="SourceDir\ExportFolder\MyExports\.svn\README.txt" />
            </Component>
            <Component Id="cmp3B9F98E881667F6C9EAA5AF1F4F50602" Directory="dir735D851565E35C272F36FB0B499F1840" Guid="{901FCBD3-3735-48E6-A028-71DC0D1EE4CB}">
                <File Id="fil582596BDA721FA64FEA141E9A6E67CE3" KeyPath="yes" Source="SourceDir\ExportFolder\MyExports\.svn\prop-base\MyExports.svn-base" />
            </Component>
            <Component Id="cmp6ECD3DACEE62A67EDCA9B32C45F1DB2E" Directory="dir2F32B2A6C195B43497681E922F5251A5" Guid="{D5F12F7A-35DB-4DC3-9F81-3F8A5D361DBB}">
                <File Id="fil781E3E36CF3A9B9947B7479235079486" KeyPath="yes" Source="SourceDir\ExportFolder\MyExports\.svn\props\MyExports.svn-work" />
            </Component>
            <Component Id="cmp6DAB4037D5A2D85AB96D560B4012C648" Directory="dirD07BC74DA5E426A11A05999349DC55BD" Guid="{85D2B6DA-7D81-469D-A1C6-10856EC14573}">
                <File Id="fil11274F5844206926BD2C89CFC089E68E" KeyPath="yes" Source="SourceDir\ExportFolder\MyExports\.svn\text-base\MyExports.svn-base" />
            </Component>
            <Component Id="cmp53C4EF1086076E695CE64AED8D425566" Directory="dirD5960095B52AE3927EE83CC278AC5B98" Guid="{BF38F22C-BE90-4214-ABAE-5F83D4BBF71D}">
                <File Id="fil829950D3DFADA19329CFF0963294E4FF" KeyPath="yes" Source="SourceDir\FuelModelFolder\MyFuelModels\MyFuelModels" />
            </Component>
            <Component Id="cmpBE2CCF15F722427E9496C4D32DD9B5CA" Directory="dir7B9F890D15E621E663E23B1798EB8978" Guid="{B822C722-49CD-4CB8-8449-DEA455BD98AC}">
                <File Id="fil0BB75B993B42140546D3FA2EDACAE282" KeyPath="yes" Source="SourceDir\FuelModelFolder\SoCalifornia\SCAL14.bpf" />
            </Component>
            <Component Id="cmp24BABAA2909C1CF08094B89F73B3DDF2" Directory="dir7B9F890D15E621E663E23B1798EB8978" Guid="{4A225871-7187-41A0-B948-69F21497256E}">
                <File Id="filA73EADAEE76F754033984D7430A0061E" KeyPath="yes" Source="SourceDir\FuelModelFolder\SoCalifornia\SCAL15.bpf" />
            </Component>
            <Component Id="cmpEDF66A697BD53AB21DA2A1A5E3C0D0C6" Directory="dir7B9F890D15E621E663E23B1798EB8978" Guid="{77721331-C035-4A52-8E2C-7AD2D413C772}">
                <File Id="fil76CB393F85386F176F06D7AE96C4A692" KeyPath="yes" Source="SourceDir\FuelModelFolder\SoCalifornia\SCAL16.bpf" />
            </Component>
            <Component Id="cmpB556FCE308921E163E354AE395789D22" Directory="dir7B9F890D15E621E663E23B1798EB8978" Guid="{1149C243-6728-4204-B35B-3BA4CCB0D35C}">
                <File Id="fil1F017651A1DB7D7B6B66E3BEB30D3871" KeyPath="yes" Source="SourceDir\FuelModelFolder\SoCalifornia\SCAL17.bpf" />
            </Component>
            <Component Id="cmp4BE82E19E89DCB3EFB5D1A2B7E2ABDAF" Directory="dir7B9F890D15E621E663E23B1798EB8978" Guid="{F389BEE0-C2BA-45DD-B22C-BB4CE60F92DD}">
                <File Id="fil77B04B8997B10E4027A1808EF0C60A89" KeyPath="yes" Source="SourceDir\FuelModelFolder\SoCalifornia\SCAL18.bpf" />
            </Component>
            <Component Id="cmpF26183E1D111DE0C28029635279A8C79" Directory="dir7B9F890D15E621E663E23B1798EB8978" Guid="{348FF6A0-7394-4C06-9EEB-E2E8BCC65DC4}">
                <File Id="fil04776CFCCBE82A2F5D7ED3B4E1F6553E" KeyPath="yes" Source="SourceDir\FuelModelFolder\SoCalifornia\SoCalifornia" />
            </Component>
            <Component Id="cmp4DFA0484473F5B8DFB6BCD3F5405C9FC" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{D65CBE6C-0530-4278-AA6E-CC971CAF6FD8}">
                <File Id="fil2B96ECBA6523734B6120BBBE34D70FE0" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d1l1.bpm" />
            </Component>
            <Component Id="cmpF52553E94CC57220DB0FD1D8DB0A3097" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{57708FE9-FFD7-4E30-BD90-59C22552AE06}">
                <File Id="fil37451EDE6AD2FC30E605ACCF2A7164D8" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d1l2.bpm" />
            </Component>
            <Component Id="cmp7056647B660F0EF198EE72BE425EB844" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{3ED4D7F7-48E1-4DC0-BC12-292548B0537E}">
                <File Id="filA17C00D73D99EDEA0C713F9C364740BF" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d1l3.bpm" />
            </Component>
            <Component Id="cmp0F523C4ECB4C54BD0FA9253145CFA901" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{6C001772-87EA-4EB7-987B-13D641BF7905}">
                <File Id="fil531A6AF905E079FCE5294F701C5EE7E0" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d1l4.bpm" />
            </Component>
            <Component Id="cmpA0E4EC090DD93CF34EC33B5A8F717E8F" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{7986F0B0-75A0-48A7-BD7D-07B062446625}">
                <File Id="filB09327E5E9FC73F07F7F2441C9507D1E" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d2l1.bpm" />
            </Component>
            <Component Id="cmp0114786CB1B8F3E13B9A6FA46AF1390B" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{90430E15-893B-4F05-8BA7-F619AE0B860C}">
                <File Id="fil4CCC15DAEDEEA46777C368208B686709" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d2l2.bpm" />
            </Component>
            <Component Id="cmpB3C8570D59C49D698DFCB9C638C32345" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{52E42016-DB05-429D-8189-916C1A9DB7AC}">
                <File Id="filCA20262891D43F04BC58CC90AC8BD21F" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d2l3.bpm" />
            </Component>
            <Component Id="cmpCC96FB6ED44D10672FA41CF587845A29" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{3639D79C-45F9-4EC5-B007-F2429B95BD70}">
                <File Id="fil8CF14AF9E3D55CDF58FD0DA8A9370AD1" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d2l4.bpm" />
            </Component>
            <Component Id="cmp5B8A3AAA5E4242E8DFF817EE880E1DA2" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{694599DE-2813-47C0-A926-65C258A42F83}">
                <File Id="filED0218054CD736443F1F96CC7E440DEF" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d3l1.bpm" />
            </Component>
            <Component Id="cmp3AA591C9CD334EDA7A5CA830DA874106" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{0D1925B6-6817-4380-ABF4-2CE1F536F7E7}">
                <File Id="fil76D5BAC36E201AC9CB3178B943D6DCD1" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d3l2.bpm" />
            </Component>
            <Component Id="cmpAC8135D6816F8C988C3E262474FD923E" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{163CAE87-40C4-4C9B-A498-11C297CD25A2}">
                <File Id="filE55280817E276F463A4257FD17365B59" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d3l3.bpm" />
            </Component>
            <Component Id="cmp5918B67AF9F7B7F1B02BDA2094D5F0EA" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{1D0FC90C-C4AB-4D6A-9AD5-AB7C5FD107F9}">
                <File Id="fil4A4FE13BED481B0A81A09EA83260484F" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d3l4.bpm" />
            </Component>
            <Component Id="cmp2A61B47024F8D772BEBC98C0E7D96736" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{7CDF24CA-FE8C-4F45-9DCC-D0126FF1602B}">
                <File Id="fil6411FB1AFBF4014C31D5A71DF60BB86E" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d4l1.bpm" />
            </Component>
            <Component Id="cmp832A329A55C5FA4030D19B508BB95E2F" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{1DD1B971-92BC-42B7-9476-7A35833D4BCE}">
                <File Id="fil9897620F52C485BAA5A4E8C9FC9E66B0" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d4l2.bpm" />
            </Component>
            <Component Id="cmp93B48C63CFBD53411DD58A934F5DDEEB" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{7C3FA1EC-2F33-4137-B984-EE48ACFE2F5E}">
                <File Id="fil459293C1CF6BE1B8E23A4E15029C17B0" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d4l3.bpm" />
            </Component>
            <Component Id="cmpBF5C8D59DEEDF1122A3C05A29B42C6E6" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{AA268FD8-5DF2-4E76-B6DA-E011634CD209}">
                <File Id="filCC1DCFF72E5E642567B740F86F17CE96" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\d4l4.bpm" />
            </Component>
            <Component Id="cmp56ADF5A4B9B62D169F22DC786008ACCB" Directory="dir72F3911A4D24E86E9357061AECF76C6E" Guid="{65CAD7B9-4F12-43CD-B190-4F64793140AF}">
                <File Id="filA37965D86FB421054B03D52B6FCC47B7" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\FuelModeling\FuelModeling" />
            </Component>
            <Component Id="cmp050759F671552436E8CDFE5C5B9EF802" Directory="dir55993485EAA4C76698EE385F02FD40AF" Guid="{2DCF9B9E-4D53-4E8D-8C5B-718685A18736}">
                <File Id="filF097916C4952F7C5153A311AA1E0FEAB" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\MyMoistureScenarios\MyMoistureScenarios" />
            </Component>
            <Component Id="cmp1AE48C902B8D4EF16E7D1390D5337960" Directory="dir02E9AB3D0C635357E86CAB384AD21628" Guid="{EB428418-4C88-4BFF-A948-724C988FF79F}">
                <File Id="fil71E5E4ECD19C7064426A1864EDC08689" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\TSTMDL\1-Low.bpm" />
            </Component>
            <Component Id="cmp3588B6359F683B01EA8FC434574B94D1" Directory="dir02E9AB3D0C635357E86CAB384AD21628" Guid="{56B1AC9A-093B-4B19-AE05-1942C95AEB1D}">
                <File Id="fil7A5EF293718FA0B6E85822621711BB41" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\TSTMDL\2-Med.bpm" />
            </Component>
            <Component Id="cmpB231607E1F8C9AF699754559145C7767" Directory="dir02E9AB3D0C635357E86CAB384AD21628" Guid="{F8EB6A5F-2601-4D28-B40E-AC61BB67C2B0}">
                <File Id="filED7D4EA7C957A01C5C39334F8EC5DE5F" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\TSTMDL\3-High.bpm" />
            </Component>
            <Component Id="cmpED32875995A810553FCBC8FE27FCCA32" Directory="dir02E9AB3D0C635357E86CAB384AD21628" Guid="{3CF0B171-2D23-4757-8476-D42D46CFCA82}">
                <File Id="fil078B6E9B14B827597EA366AC32412200" KeyPath="yes" Source="SourceDir\MoistureScenarioFolder\TSTMDL\TSTMDL" />
            </Component>
            <Component Id="cmp205BE9E93C245C03CE38DAC5590C1D05" Directory="dir2C69595B0F7C8E0AA02F56BC498CD6C2" Guid="{9169610B-0EB5-43BC-AB28-9EBCB362DEFA}">
                <File Id="fil11940B0E740D1B324C17E63A3B8C00AE" KeyPath="yes" Source="SourceDir\RunFolder\ExampleRuns\ExampleRuns" />
            </Component>
            <Component Id="cmpC66542A72BE5F079DD672F1ACCA06FD3" Directory="dir2C69595B0F7C8E0AA02F56BC498CD6C2" Guid="{690DAB8B-2F42-4B23-B53C-F02C12199A08}">
                <File Id="filB9F8888CC269B2D4B0AE7EA1040E2A2C" KeyPath="yes" Source="SourceDir\RunFolder\ExampleRuns\FuelCompare.bpr" />
            </Component>
            <Component Id="cmp2CA69205B24C66DF41772629E45183C9" Directory="dir2C69595B0F7C8E0AA02F56BC498CD6C2" Guid="{BFE308C5-D0E7-49E8-861A-EA210CA05875}">
                <File Id="filE6EF1DD4E4E0246553004643B1650E06" KeyPath="yes" Source="SourceDir\RunFolder\ExampleRuns\FuelHerbMois.bpr" />
            </Component>
            <Component Id="cmp046D11A6487398A57BCFA10F40736960" Directory="dir2C69595B0F7C8E0AA02F56BC498CD6C2" Guid="{DFAC1E5E-F7E2-4E43-8611-572E926CA837}">
                <File Id="fil5FC153854A0A1448983039FBFAAD5EE6" KeyPath="yes" Source="SourceDir\RunFolder\ExampleRuns\FuelMoisWind.bpr" />
            </Component>
            <Component Id="cmp60EAEC2A8D946AEF82612CF7875FFE3B" Directory="dir2C69595B0F7C8E0AA02F56BC498CD6C2" Guid="{6AB4C48B-F465-447D-B398-EAA70411B00C}">
                <File Id="filBBADEDBCCB8D3FEC7F617DCDDAE57EF9" KeyPath="yes" Source="SourceDir\RunFolder\ExampleRuns\FuelWind.bpr" />
            </Component>
            <Component Id="cmpD2FA24AD0D27A55BB627EEB106C49610" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{21F7E470-6162-45CC-B184-06717A135DA7}">
                <File Id="filF9DAC5577B10354DC9BE65FDB5B2C331" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Benchmark_Back.bpr" />
            </Component>
            <Component Id="cmp619BE54C8728C363CAA22BD3EBF0E830" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{49E0B554-3F67-44A8-B8F0-B7ABF35CB260}">
                <File Id="fil4DABB57085671525F6AB7B71250CE127" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Benchmark_FireFront.bpr" />
            </Component>
            <Component Id="cmpCA96910D30A2EB63606BD75B8FAA7839" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{F6600DA6-CFBA-4836-AB7E-935F4ABF8606}">
                <File Id="fil6298E18882D500F0D3D987D73CE20313" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Benchmark_Flank.bpr" />
            </Component>
            <Component Id="cmp3074B6F9E57BF97B81EE4CB4002BAF60" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{3200A7B1-08DF-48F7-883F-9F76B8106F1E}">
                <File Id="filCF8D3AE879002A865C728627388E5971" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Benchmark_Head.bpr" />
            </Component>
            <Component Id="cmpB4B217749BB12741B4C46FF93306E74E" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{5B185E30-8A6E-4B9A-A7A2-C1982A4D7266}">
                <File Id="filCB652AB23625976D427E23F537F61474" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Benchmark_IgnitionBeta.bpr" />
            </Component>
            <Component Id="cmp27A219F4F6DB0A7DD0C8DC1594C3E0D0" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{43E6A053-946C-4352-B0E9-D1C8C377E8D2}">
                <File Id="filAD7BA8FADB991109FD516EF456F5D19D" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Benchmark_IgnitionPsi.bpr" />
            </Component>
            <Component Id="cmp2C38F504EEDD65773AE3F625063DCAFA" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{FC46EBE5-396C-42D4-8203-9D5BC22A9D88}">
                <File Id="fil4B6FC8C4EDFED86754C2AEE57405C3C8" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Case1.bpr" />
            </Component>
            <Component Id="cmpD24A6C57DA4AAC07CD18438CE8706624" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{763D48A7-13A4-4D72-8CC2-8B84EF9EE004}">
                <File Id="fil31AFFBB875892FD2BC23F34D73147E08" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Case1_1.bpr" />
            </Component>
            <Component Id="cmpD9C184C930F63DF6229F6A0969516E6D" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{56DE5249-04BE-4F01-A535-5CB46BDF0710}">
                <File Id="fil7AD1600E35843F113EDC8F569DE81943" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Case1_2.bpr" />
            </Component>
            <Component Id="cmpA19E5C8E9CD4ABC96EDC7CEAF8CA7DB6" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{9B15D804-0B2C-45A3-AE9A-EE20930725D6}">
                <File Id="fil1FE1191A251FB43BF36B9E4B2943C520" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Case2.bpr" />
            </Component>
            <Component Id="cmpC19D816EE039ABD30900F12A9C6A1E1C" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{31F6DF89-8FF3-43BC-AF6E-F069579FEAC1}">
                <File Id="fil48D77FE2D4272023E7D0A4596AED70C8" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Case2_1.bpr" />
            </Component>
            <Component Id="cmp3B40377E3020FFF1E23BF9A062342D37" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{AE690CE6-8280-48E7-8886-E53797D896B3}">
                <File Id="filC6B8D52E5973678C810752E50049980C" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Case2_2.bpr" />
            </Component>
            <Component Id="cmp5037EC02DE49AE5A975AFBA21DDCE9E9" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{09411127-1C50-4881-9BF6-7F9436BE9AA5}">
                <File Id="filE9A6FC43BC1910697741B6AE9F136EAA" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Case3.bpr" />
            </Component>
            <Component Id="cmp03CE44500109175C83117602F46526EF" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{AB38F03E-EA0B-4871-A0CB-B1962D3DA8B9}">
                <File Id="fil8E2F90A2624FF933C4C6757EF44FD4AF" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Ellipse_1.bpr" />
            </Component>
            <Component Id="cmp18F9378280EBA73AF41A190669116A24" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{9C0728AC-697B-496C-9489-7D7D0D4C35CE}">
                <File Id="filEEA96E2B0E7F6C9BD0449FB7AE6A2648" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\Issue012b.bpr" />
            </Component>
            <Component Id="cmp24B5BD410B1359532CF338492C3696BE" Directory="dir589E280BB6F7731D005D2ACA50FF543C" Guid="{32A898F1-2CAA-4BDF-96F6-5F6CF3B50D9A}">
                <File Id="fil4D06025829FFA28D7524AA096995DF96" KeyPath="yes" Source="SourceDir\RunFolder\MyRuns\MyRuns" />
            </Component>
            <Component Id="cmp11A523252D7C44C2D2A00C020C848179" Directory="dir0030E5E55D6D56ABCBD10DAD29FCCB96" Guid="{5300FE03-D2EF-4FEF-A3AD-C7D1291F1046}">
                <File Id="filA3C2DA08A8F3CD2BC75F267DD58B4DAB" KeyPath="yes" Source="SourceDir\UnitsSetFolder\MyUnitsSets\MyUnitsSets" />
            </Component>
            <Component Id="cmp4101E5E9AA5238BB8248A5211F581112" Directory="dirCB59D8963163B0B3F2543A7C7C729F19" Guid="{07B2D2D7-E988-43B0-8279-D9A8424A3249}">
                <File Id="filE35A9A99FD156D123C16E33FBB97D1E3" KeyPath="yes" Source="SourceDir\WorksheetFolder\ExampleWorksheets\0Default.bpw" />
            </Component>
            <Component Id="cmpB2758D9788CF2E18FF7AD2BF594F8984" Directory="dirCB59D8963163B0B3F2543A7C7C729F19" Guid="{92BBA406-BA2D-49EA-8BA7-45BC828A163D}">
                <File Id="fil6803030574AA5E26492C56C02C261818" KeyPath="yes" Source="SourceDir\WorksheetFolder\ExampleWorksheets\BasicStart.bpw" />
            </Component>
            <Component Id="cmp758CEA10958D52BFEE6C32445D189238" Directory="dirCB59D8963163B0B3F2543A7C7C729F19" Guid="{E7479A87-6D79-489E-8587-DF949F825C15}">
                <File Id="filD2D0BA98463655F37C3541C10D3E5874" KeyPath="yes" Source="SourceDir\WorksheetFolder\ExampleWorksheets\ExampleWorksheets" />
            </Component>
            <Component Id="cmpE23A188E3EB485447AB74561F60A6EAE" Directory="dirCB59D8963163B0B3F2543A7C7C729F19" Guid="{8ED6CA50-F2DD-4564-BA95-6FD3AC3F38F4}">
                <File Id="filA00975DD61FA7BBAF91986030967E234" KeyPath="yes" Source="SourceDir\WorksheetFolder\ExampleWorksheets\FuelModeling.bpw" />
            </Component>
            <Component Id="cmpAFE81D1248BB1CB130D5DD82F88E8E9E" Directory="dirCB59D8963163B0B3F2543A7C7C729F19" Guid="{09D4AA6C-714D-4791-B2A2-C6E3B1DD7A77}">
                <File Id="filB72764F2F98AEED4B06EDF17D89DA2C7" KeyPath="yes" Source="SourceDir\WorksheetFolder\ExampleWorksheets\FuelModelingMetric.bpw" />
            </Component>
            <Component Id="cmpA9DADEB04D2B7C1F9C7E3F15E3FCEC2B" Directory="dirCB59D8963163B0B3F2543A7C7C729F19" Guid="{A5923527-B6F5-4881-B078-083DC0F3F9D2}">
                <File Id="filFF6C8E370E7E333F75FE04122FD798AB" KeyPath="yes" Source="SourceDir\WorksheetFolder\ExampleWorksheets\SurfaceCrown.bpw" />
            </Component>
            <Component Id="cmpFB0D22563604C85B86773D2746B9D5D4" Directory="dirCB59D8963163B0B3F2543A7C7C729F19" Guid="{CA79AE3D-7194-40DB-B016-D883FCF92948}">
                <File Id="fil1B1EAFB5B746CCA226EBE1C2DAF442E2" KeyPath="yes" Source="SourceDir\WorksheetFolder\ExampleWorksheets\SurfaceSimple.bpw" />
            </Component>
            <Component Id="cmp2530BFB1CEFB6F80C9E860BD27A41AF8" Directory="dir7127A4BBC55DA7E7889A0AC25CF35B2A" Guid="{BEB59D73-96F9-4A77-9A01-64456072E6E6}">
                <File Id="fil136950EAF9C99FE7B7BC676D7F5F8E99" KeyPath="yes" Source="SourceDir\WorksheetFolder\MyWorksheets\MyWorksheets" />
            </Component>
            <Component Id="cmpE5B062559D1B6C89522CBB66DCF48FC6" Directory="dir7127A4BBC55DA7E7889A0AC25CF35B2A" Guid="{1BED5714-B2E9-40A4-A786-F5E6AB96B4C6}">
                <File Id="fil0DD19D0F07528A6505920D67CE885A43" KeyPath="yes" Source="SourceDir\WorksheetFolder\MyWorksheets\TwoFuels.bpw" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8112ED648498D6F328EFBC5EA74E86D6">
            <Directory Id="dir0030E5E55D6D56ABCBD10DAD29FCCB96" Name="MyUnitsSets" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8D1B13DC31C88D82E57A079F3FB01814">
            <Directory Id="dir02E9AB3D0C635357E86CAB384AD21628" Name="TSTMDL" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir27AE42B1E4CE9C2181A703E053AD6967">
            <Directory Id="dir1E861675C774B5D66914E814F4CD1C79" Name=".svn" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir37CAC0F60EC2D213C364CAD002E72CBC">
            <Directory Id="dir20FEA6A7CC7823B57BC8FD631B808AE2" Name="CaptureFolder" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3CEC7CA3B9ED9725FD09014C613A9A7A">
            <Directory Id="dir27AE42B1E4CE9C2181A703E053AD6967" Name="MyExports" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8924C97CC87CD6E09E143984DF3AA93E">
            <Directory Id="dir2C69595B0F7C8E0AA02F56BC498CD6C2" Name="ExampleRuns" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E861675C774B5D66914E814F4CD1C79">
            <Directory Id="dir2F32B2A6C195B43497681E922F5251A5" Name="props" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir37CAC0F60EC2D213C364CAD002E72CBC">
            <Directory Id="dir3CEC7CA3B9ED9725FD09014C613A9A7A" Name="ExportFolder" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir37CAC0F60EC2D213C364CAD002E72CBC">
            <Directory Id="dir43DD04263024E5D337EF93FEC825C2C3" Name="WorksheetFolder" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8D1B13DC31C88D82E57A079F3FB01814">
            <Directory Id="dir55993485EAA4C76698EE385F02FD40AF" Name="MyMoistureScenarios" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8924C97CC87CD6E09E143984DF3AA93E">
            <Directory Id="dir589E280BB6F7731D005D2ACA50FF543C" Name="MyRuns" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir43DD04263024E5D337EF93FEC825C2C3">
            <Directory Id="dir7127A4BBC55DA7E7889A0AC25CF35B2A" Name="MyWorksheets" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8D1B13DC31C88D82E57A079F3FB01814">
            <Directory Id="dir72F3911A4D24E86E9357061AECF76C6E" Name="FuelModeling" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E861675C774B5D66914E814F4CD1C79">
            <Directory Id="dir735D851565E35C272F36FB0B499F1840" Name="prop-base" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE3A97C46EE7B7507C3B20A1691D539F1">
            <Directory Id="dir7B9F890D15E621E663E23B1798EB8978" Name="SoCalifornia" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir37CAC0F60EC2D213C364CAD002E72CBC">
            <Directory Id="dir8112ED648498D6F328EFBC5EA74E86D6" Name="UnitsSetFolder" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir37CAC0F60EC2D213C364CAD002E72CBC">
            <Directory Id="dir8924C97CC87CD6E09E143984DF3AA93E" Name="RunFolder" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir37CAC0F60EC2D213C364CAD002E72CBC">
            <Directory Id="dir8D1B13DC31C88D82E57A079F3FB01814" Name="MoistureScenarioFolder" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir20FEA6A7CC7823B57BC8FD631B808AE2">
            <Directory Id="dirA0512BF40688D5B5D81698921B74AFB6" Name="MyScreenCaptures" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir37CAC0F60EC2D213C364CAD002E72CBC">
            <Directory Id="dirB9EB20C10103BE82D7E1DB8776D29E76" Name="ComposerFolder" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir43DD04263024E5D337EF93FEC825C2C3">
            <Directory Id="dirCB59D8963163B0B3F2543A7C7C729F19" Name="ExampleWorksheets" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E861675C774B5D66914E814F4CD1C79">
            <Directory Id="dirD07BC74DA5E426A11A05999349DC55BD" Name="text-base" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE3A97C46EE7B7507C3B20A1691D539F1">
            <Directory Id="dirD5960095B52AE3927EE83CC278AC5B98" Name="MyFuelModels" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir37CAC0F60EC2D213C364CAD002E72CBC">
            <Directory Id="dirE3A97C46EE7B7507C3B20A1691D539F1" Name="FuelModelFolder" />
        </DirectoryRef>
    </Fragment>
</Wix>